<IfModule mod_rewrite.c>
    RewriteEngine on

    # ex: url réécrites
    # pour le plugin rewrite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    # ex: redirection 301
    #RewriteRule ^contact$ http://www.dizagn.com [R=301]
</IfModule>
